$colors: (
  "surface1": #e6e6e6,
  "surface2": #f2f2f2,
  "surface3": #ffffff,
  "element1": #111111,
  "element2": #222222,
  "element3": #333333,
  "elementInverse": #eee,
  "primary": #01408e,
  "secondary": #3c5d5c,
  "tertiary": #fff7d6
);

@mixin color-var($property, $color) {
  #{$property}: map-get($colors, "#{$color}");
  #{$property}: var(--#{$color});
}

:root {
  --radius: 50px;
  --sans: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
    cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
    --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  }

  &[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
    --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  }
}

html {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: 1rem;
  line-height: 1.5;
  @include color-var(background-color, surface1);
}

body {
  padding: 0;
  margin: 0;
}
.color-mode {
  :root[color-mode="light"] & {
    .light--hidden {
      display: none;
    }
  }
  :root[color-mode="dark"] & {
    .dark--hidden {
      display: none;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4rem);
  padding: 1rem 0.5rem;

  @media (min-width: 640px) {
    padding: 2rem;
  }

  margin: 0;

  &__header {
    position: relative;
    padding: 1rem 0;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      content: "";
      background: linear-gradient(
        to right,
        map-get($colors, primary),
        map-get($colors, secondary)
      );
      background: linear-gradient(
        to right,
        var(--primary, map-get($colors, primary)),
        var(--secondary, map-get($colors, secondary))
      );
    }
    border-radius: var(--radius);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto 1.5rem;
    font-family: var(--sans);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    @include color-var(color, element1);
    cursor: pointer;
    background: none;
    border: none;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);

    svg {
      width: 30px;
      height: 30px;
      margin-left: 7px;
      fill: none;
      @include color-var(stroke, element2);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5px;
    }

    &:hover svg,
    &:focus svg,
    &:focus {
      outline: none;
      @include color-var(fill, tertiary);
    }
  }

  &__section {
    max-width: 640px;
    padding: 0.5rem 1rem;

    @media (min-width: 640px) {
      padding: 1rem 3rem;
    }

    margin-bottom: 5rem;
    @include color-var(color, element1);
    @include color-var(background-color, surface1);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease-in;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  h2 {
    @include color-var(color, element2);
  }

  &__link-container {
    display: flex;
    width: 100%;
    margin: 2rem 0;
  }

  &__link {
    padding: 0.5rem 1rem;
    font-weight: 600;
    @include color-var(color, element1);
    text-decoration: none;
    @include color-var(background-color, surface1);
    @include color-var(border-color, primary);
    border-style: solid;
    border-width: 2px;
    border-radius: var(--radius);
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      @include color-var(color, elementInverse);
      @include color-var(background-color, primary);
    }
  }

  &__excerpt {
    padding: 0.5rem 1.5rem;
    margin: 1rem;

    @media (min-width: 640px) {
      padding: 1rem 2rem;
      margin: 2rem;
    }

    @include color-var(color, element2);
    @include color-var(background-color, surface2);
    border-radius: var(--radius);

    a {
      @include color-var(color, primary);

      &:hover,
      &:focus {
        @include color-var(color, secondary);
      }
    }
  }
}
